*  { font-family: "Lora", serif; 

}



h3{
    color:#800080 
}


   
p {   

     color:#0000BF;

  }





     #nav-list {

            color: #0000BF;
          background: color #8b008b;;

     }


      .title {   

         color:#ff0000; 
        font-size:1.7rem;
       font-weight:bolder;
     
      }

     
     
     
     .caja {   

      background-color: #ffffff;
               padding-top: 3rem;
   padding-bottom: 3rem;
           padding-left: 4rem;

           padding-right: 3rem;

               border-width: 2px;
                 
border-style: inset;
     border-color: #ff0000;

     width: 120px;
      height: 12px;
         text-align: center;




     }
     
     
   .caja-padre{   

     display: flex;
      background-color: #000000;

      padding: 12rem;

        display: flex;

      flex-direction:row:

      




   }  
     
     .header{ 

   display: flex;

   flex-direction: column;
    align-items: center;
   background-color:whitesmoke;


     }

     .navbar {

      display: flex;

      flex-direction: row;
 
      justify-content: space-around;
       color:blue;
       

     }
     
     .navbar  > a    {

      color:blue;


     }
     
      .hero {


      width: 80%;

      }
     
      .hero-image {

      width: 30%;
opacity: 80%;
      }
     
     .texto-inicial {

     display: flex;
     background-color: white;
     color:#0000BF
     flex-direction: column;
align-items: center;

     }
     
     
     
  .tipos {

 display: flex;
flex-direction: row;
align-items: center;
  }   
     
.tipos-forma {

display: flex;
flex-direction: row;
justify-content: space-evenly;
width: 100%;

}  
     
     
     
   .all{

background-color:black;

color: darkcyan;
     
   }
    
  
     
     















